/*Global*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*Semânticas*/

body{
    background-color: lightgray;
}

header{
    background-color:gray;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/*Classes e Ids de tags Semânticas*/

header h1{
    color: white;
    text-shadow: 1px 2px black;
    padding: 10px;
    
}

nav ul{
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
}
nav a{
    background-color: black;
    color: white;
    padding: 10px 13px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;

    flex: 0 0 auto;
    transition: .6s;
}

nav span{
    cursor: pointer;
}

main h1{
    margin-bottom: 20px;
}

main p{
    text-align: justify;
}

/*Interação*/

nav a:hover{
    background-color: white;
    color: black;
}

header nav span{
    display: none !important;
}

/*          ---------------------------------------------------------------       */
@media screen and (max-width: 650px){
    /*Versão Mobile (porém este exercício não será mobile first*/

body{
    background-color: green;
}

header{
    justify-content: center;
}

nav a{
    display: block;
    text-align: center;
}

nav li{
    flex: 0 0 100%;
}
header nav span{
    width: fit-content;
    margin: auto;
    text-align: center;
    display: block !important;
}
}