h1{
    /*Display Block, box-level*/
    background-color:lightgray;
    height:40px;
    width:375px;

    padding:2px 10px 60px 10px;   

    border-width: 3px;
    border-style:solid;
    border-color:darkgray;

    margin:auto;
    margin-bottom: 25px;

    outline-width:3px;
    outline-style:dashed;
    outline-color:rgb(34, 56, 37);
}
a{
    /*Display inline, inline-level, se eu quiser mudar algo de inline level pra block por exemplo só colocar o display:block , podendo fazer o contrário também.*/
    border: 2px solid red;
    padding: 5px 5px 5px 5px;
}